.projects {
  background: #efe1bd;
}

.projects-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-end;
  padding-bottom: 20px;
}

.project-name {
  margin: 0px;
  padding-top: 3%;
  padding-bottom: 3%;
  font: 18px/24px "raleway", sans-serif;
  font-weight: bolder;
  text-transform: uppercase;
  letter-spacing: 3px; 
  color: #000;
  text-align: center;
}

.card-project {
  background: #fff;
  display: inline-block;
  margin: 1% 5px;
  padding: 10px 10px 5px;
  text-align: center;
  text-decoration: none;
  box-shadow: 0 4px 6px rgb(0 0 0 / 30%);
  transition: all 0.2s linear;
  z-index: 0;
  position: relative;
  cursor: pointer;
  margin-bottom: 15px;
  width: 250px;
}

.card-project:hover {
  transform: scale(1.01);
  z-index: 10;
  box-shadow: 0 10px 20px rgb(0 0 0 / 70%);
}

.project-title {
  margin-top: 5%;
  font: 18px/24px "raleway", sans-serif;
  text-transform: uppercase;
  font-weight: lighter;
  letter-spacing: 3px;
  color: #000;
  text-align: center;
}

.project-image {
  height: 240px;
  width: 320px;
}
