.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px 20px 40px 20px;
}

.about-name {
  margin: 0px;
  margin-bottom: 20px;
  font: 18px/24px "Raleway", sans-serif;
  font-weight: bolder;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #000;
  text-align: center;
}

@media only screen and (max-width: 875px) {
  .details {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.details {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.photograph {
  margin-right: 20px;
  margin-bottom: 40px;
  padding: 20px 10px 30px;
  box-shadow: 0 4px 6px rgb(0 0 0 / 30%);
  width: 100%;
  max-width: 19em;
  border-radius: 0.25em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pic {
  border-radius: 0.25em;
}

.tech-div {
  margin-top: 30px;
  margin-bottom: -10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tech-icon {
  height: 80px;
  width: 80px;
  margin-left: 10px;
  margin-right: 10px;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  max-width: 50em;
  padding: 0px;
}

.header-card {
  display: flex;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.03);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  position: absolute;
  left: 0px;
  top: 0px;
}

.internal-card {
  height: auto;
  line-height: 200%;
  font-family: "Raleway", sans-serif;
  font-weight: lighter;
  padding: 20px;
  text-align: justify;
  text-justify: inter-word;
}

.fcircle-icon {
  margin: 5px 0px 5px 10px;
}

.circle-icon {
  margin: 5px 0px 5px 5px;
}

.hi {
  font-size: 160%;
}
