.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #373132;
  min-height: 90vh;
  color: white;
  background-image: url('../../assets/CAPA.png');
  background-size: cover;
  background-position: center; 
  background-repeat: no-repeat; 
}

.header-name {
  font-size: 450%;
  text-align: center;
  font-weight: bolder;
  color: #E0A060;
  font-family: "Raleway", sans-serif;
  margin: 0px;
  margin-top: 0px;
}

.header-name-sub {
  font-size: 220%;
  text-align: center;
  font-weight: 100;
  font-weight: bold;
  color: #EDDCC8;
  font-family: "Raleway", sans-serif;
  margin: 0px;
  margin-top: -15px;
}

.computer-icon {
  height: 300px;
  color: #212529;
  margin-bottom: -30px;
}

.title-styles {
  font-family: "Raleway", sans-serif;
  font-size: 120%;
  color: #EDDCC8;
  font-weight: lighter;
  margin-top: 5px;
}


@media only screen and (max-width: 875px) {
  .header-name {
    font-size: 200%;
  }
  
  .header-name-sub {
    font-size: 100%;
    margin-top: 0px;
  }

  .computer-icon {
    height: 180px;
    color: #212529;
    margin-bottom: -20px;
  }
  .title-styles {
    font-size: 80%;
    color: #EDDCC8;
    font-weight: lighter;
    margin-top: 5px;
  }
}

.github-header {
  margin-bottom: 200px;
}

.middle-header {
  min-height: 50vh;
}

.flag-icon {
  width: 50px;
  height: 50px;
  margin: 20px;
}
