.techs {
  padding-bottom: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.skills {
  background-color: #1f1f1f;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
}

.skill-name {
  margin: 0px;
  padding-top: 4%;
  padding-bottom: 4%;
  font: 18px/24px "raleway", sans-serif;
  font-weight: bolder;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #fff;
  text-align: center;
}

.skill-name-subtitle {
  margin: 0px;
  padding-top: 4%;
  padding-bottom: 4%;
  font: 10px/15px "raleway", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #fff;
  text-align: center;
}

.skill-icon-box {
  background-color: #2a2929;
  padding: 20px;
  width: 40px;
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  margin: 10px;
}

.skill-icon {
  font-size: 220%;
  color: #fff;
}

.tech-name {
  color: #fff;
  font-size: 75%;
  text-align: center;
}
